.common :global(.cspace-ui-PublicPage--common) :global(.cspace-ui-Logo--common) {
  width: 250px;
}

.common :global(.cspace-ui-Logo--common) {
  width: 140px;
}

.common :global(.cspace-input-Menu--common) {
  max-height: unset;
}
